.about-banner-collapse-container {
    max-width: 1280px;
    margin: auto;
    padding: 0px 20px 0px 20px;

    .about-collapse-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        max-width: 1280px;
        margin: 40px 0px 40px 0px;

        .collapse-container {
            max-width: 1023px;

            .collapse-item {
                max-width: 1023px;
            }

            .collapse-content {
                max-width: 1023px;
            }

            .collapse-content-expanded {
                max-width: 1023px;

            }
        }
    }
}

@media screen and (max-width: 768px) {

    .about-banner-collapse-container {

        .about-collapse-container {
            max-width: 768px;
            gap: 25px;
            margin-top: 25px;
            margin-bottom: 25px;

            .collapse-container {
                max-width: 768px;

                .collapse-item {
                    max-width: 768px;
                }

                .collapse-content {
                    max-width: 768px;
                }

                .collapse-content-expanded {
                    max-width: 768px;

                }
            }
        }
    }
}