.apartments-details-container {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    padding: 0px 20px 0px 20px;
    margin: auto;
    margin-bottom: 40px;
    font-family: 'Montserrat';

}

.apartments-details-text-rating-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    .apartments-details-title-tags-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        width: 100%;

        .title-container {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .apartment-title {
            font-size: 36px;
            font-weight: 500;
            text-align: start;
            color: #FF6060;
            margin-top: 30px;
            margin-bottom: 0;
            }

            span {
                text-align: start;
                font-size: 18px;
                font-weight: 500;
                display: block;
                text-align: start;
            }

        }

        .tags-container {
            display: flex;
            flex-direction: row;
            gap: 10px;
            border-radius: 10px;
            font-size: 14px;
            font-weight: 700;
            height: 25px;

        }
    }

    .apartments-details-host-rating-container {
        display: flex;
        flex-direction: column;
        gap: 25px;

        .host-picture-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            padding-top: 15px;

            h3 {
                text-align: end;
                font-size: 18px;
                font-weight: 500;
                color: #FF6060;
                width: 93px;
                height: 52px;
                margin: 0;
            }

            .host-picture {
                width: 64px;
                height: 64px;
                border: 1px solid grey;
                border-radius: 50%;

            }

        }

        .rating {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

        }
    }
}

.apartments-collapse-container {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    gap: 76px;

    .collapse-container {
        max-width: 582px;
        width: 100%;
        border-radius: 10px;

        .collapse-item {
            max-width: 582px;
            border-radius: 10px;
        }

        .collapse-content {
            max-width: 582px;
            border-radius: 10px;
        }

        .collapse-content-expanded {
            max-width: 582px;
            text-align: start;
            border-radius: 10px;

        }
    }
}

/*** RESPONSIVE ***/

@media screen and (max-width: 768px) {

    .apartments-details-container {
        margin-bottom: 35px;

    }

    .apartments-details-text-rating-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

        .apartments-details-title-tags-container {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .tags-container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                max-width: 768px;
                gap: 10px;
                border-radius: 10px;
                height: 18px;

            }

            .title-container {
                gap: 0px;

                .apartment-title {
                font-size: 18px;
                font-weight: 500;
                color: #FF6060;
                margin-top: 10px;
                margin-bottom: 10px;
                padding-right: 70px;
                }

                span {
                    font-size: 14px;
                    display: block;
                    text-align: start;
                }
            }
        }

        .apartments-details-host-rating-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            gap: 25px;
            margin-bottom: 10px;
            width: 100%;

            .host-picture-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                height: 33px;
                gap: 0px;
                padding: 0px;

                h3 {
                    text-align: end;
                    font-size: 12px;
                    width: 93px;
                    height: 33px;
                    padding: 0px 15px 0px 15px;
                }

                .host-picture {
                    width: 32px;
                    height: 32px;
                    border: 1px solid grey;
                    border-radius: 50%;

                }

            }
        }
    }

.apartments-collapse-container {
    display: flex;
    flex-direction: column;
    max-width: 768px;
    margin-top: 10px;
    gap: 30px;

    .collapse-container {
        max-width: 768px;
        width: 100%;
        border-radius: 5px;

        .collapse-item {
            max-width: 768px;
            height: 30px;
            border-radius: 5px;
        }

        .collapse-content {
            max-width: 768px;
            border-radius: 5px;
        }

        .collapse-content-expanded {
            max-width: 768px;
            border-radius: 5px;
            text-align: start;

        }
    }
}
}

