.apartments-details-container {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    margin: auto;
    font-family: 'Montserrat';

    .apartments-collapse-container {
        display: flex;
        flex-direction: row;

    }

}

.apartments-details-text-rating-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


    .apartments-details-title-tags-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;

        .tags-container {
            display: flex;
            flex-direction: row;
            gap: 10px;
            border-radius: 10px;
            color: white;
            font-size: 14px;
            height: 25px;

        }

        .apartment-title {
            font-size: 36px;
            font-weight: 500;
            color: #FF6060;
            margin-bottom: 0;
        }

        span {
            display: block;
            text-align: start;
        }
    }

    .apartments-details-host-rating-container {
        display: flex;
        flex-direction: row;

        .host-picture-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            h3 {
                text-align: end;
                font-size: 18px;
                font-weight: 500;
                color: #FF6060;
                width: 93px;
                max-height: 52px;
                margin: 0;
            }

            .host-picture {
                width: 64px;
                height: 64px;
                border: 1px solid grey;
                border-radius: 50%;

            }

        }

        .rating {


        }
    }
}

.collapse-container {
    max-width: 582px;
    width: 100%;

    .collapse-item {
        max-width: 582px;
        width: 100%;
    }

    .collapse-content {
        max-width: 582px;
    }

    .collapse-content-expanded {
        max-width: 582px;
        text-align: start;

    }
}

