header {
    margin: auto;
    max-width: 1240px;

    .header-flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 40px 20px 40px 20px;
        max-width: 1240px;

        .nav-links {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 20px;

            a {
                font-family: 'Montserrat';
                color: #000000;
                text-decoration: none;
                font-size: 24px;
                font-weight: 500;
            }

            a:hover,
            a.active {
                text-decoration: underline;
            }

            .logo-kasa-red {
                max-width: 211px;
                width: 100%;
                height: 68px;
            }
        }
    }
}

/*** RESPONSIVE ***/

@media screen and (max-width: 768px) {
    header {
        max-width: 768px;

        .header-flex-container {
            max-width: 768px;
            padding-top: 20px;
            padding-bottom: 30px;

            .nav-links {
                a {
                    text-transform: uppercase;
                    font-size: 12px;
                }
            }

            .logo-kasa-red {
                max-width: 145px;
                height: 47px;
            }
        }
    }
}
