.home-banner {
    position: relative;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    max-width: 1240px;
    margin: auto;

    .home-banner-image {
        max-width: 1240px;
        width: 100%;
        height: 223px;
        object-fit: cover;
        border-radius: 25px;
        filter: brightness(0.4);
    }

    .home-banner-title {
        position: absolute;
        margin-top: 0px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Montserrat';
        font-size: 48px;
        font-weight: 700;
        color: #FFFFFF;
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
    }
}

/*** RESPONSIVE ***/

@media screen and (max-width: 768px) {
    .home-banner {
        text-align: start;
        border-radius: 10px;
        max-width: 768px;
        height: 111px;
        margin: auto;

        .home-banner-image {
            max-width: 768px;
            height: 111px;
            border-radius: 10px;
        }

        .home-banner-title {
            transform: translate(-60%, -50%);
            font-size: 24px;
            width: 70%;
            padding: 0px;
        }
    }
}